@using RedoMusic.Domain.Entities;

@model List<Category>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container mt-3">
    <h2>Categories Tables</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Category</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryName</td>
                    <td><a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-outline-danger">Delete</a></td>
                    <td><a asp-action="Update" asp-route-id="@category.Id" class="btn btn-outline-danger">Update</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>

